<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
<!-- 이메일은 ${email} 인증코드는 ${authCode} -->
<div style="display: flex; justify-content: center; align-items: center; background-color: #f5f5f5;">
  <div style="width: 500px; height: 500px; padding: 20px; background-color: #ffffff;">
    <div style="width: 100%; height: 3px; background-color: #44ae4e;"></div>
    <div style="margin: 24px 10px; display: flex; flex-direction: column;">
      <div>
        <p style="font-size: 12px; color: #888888; line-height: 1.5;">WM Company</p>
      </div>
      <div style="display: flex; flex-direction: row; align-items: center;">
        <img src="https://dev-squad.s3.ap-northeast-2.amazonaws.com/images/icon_logo.png" alt="" />
        <img src="https://dev-squad.s3.ap-northeast-2.amazonaws.com/images/icon_logo-text.png" alt="" width="200" />
      </div>
    </div>
    <div style="display: flex; flex-direction: row;">
      <p style="font-size: 24px; color: #38bf82; line-height: 1.5;">메일인증</p>
      <p style="font-size: 24px; line-height: 1.5;">안내입니다.</p>
    </div>
    <div style="margin-bottom: 24px; display: flex; flex-direction: column;">
      <p style="font-size: 16px; line-height: 1.5;"><span th:text="${email}"></span>님</p>
      <div style="display: flex; flex-direction: row;">
        <p style="font-size: 16px; line-height: 1.5;">프로젝트/스터디를 함께할</p>
        <p style="font-size: 16px; color: #38bf82; font-weight: 700; line-height: 1.5;">파티원을</p>
        <p style="font-size: 16px; line-height: 1.5;">구하는</p>
      </div>
      <div style="display: flex; flex-direction: row;">
        <p style="font-size: 16px; color: #38bf82; font-weight: 700; line-height: 1.5;">Dev Squad</p>
        <p style="font-size: 16px; line-height: 1.5;">서비스를 이용해주셔서 감사합니다.</p>
      </div>
    </div>
    <div style="margin-bottom: 24px; display: flex; flex-direction: column;">
      <div style="display: flex; flex-direction: row;">
        <p style="font-size: 16px; line-height: 1.5;">아래</p>
        <p style="font-size: 16px; font-weight: 700; line-height: 1.5;">메일 인증 버튼 > 인증 코드를 입력하여</p>
        <p style="font-size: 16px; line-height: 1.5;">회원가입을 완료해주세요.</p>
      </div>
      <div style="display: flex; flex-direction: row;">
        <p style="font-size: 16px; line-height: 1.5;">감사합니다.</p>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <div style="width: 80%; padding: 12px 0; border: 1px solid #e2e2e2; border-radius: 4px; letter-spacing: 4px; text-align: center;">
        <span th:text="${authCode}"></span>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <button style="width: 80%; margin-top: 8px; padding: 6px 0; border: none; background-color: #38bf82; border-radius: 4px; cursor: pointer;">
        <p style="margin: 0; font-size: 18px; color: #ffffff; text-align: center;">메일인증