spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://devsquad.cgbzoy0x62zh.ap-northeast-2.rds.amazonaws.com:13306/DevSquad?serverTimezone=UTC
    username: admin
    password: 6083dnfl12

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
      format_sql: true
